$extended-markdown-text-header-bg: #01243c;
$extended-markdown-text-header-color: #ffffff;

$extended-markdown-tooltip-color: #337ab7;
$extended-markdown-tooltip-hover-color: #23527c;

$extended-markdown-admonition-bg: #c8e7fa;
$extended-markdown-admonition-box-shadow: 0 1px 2px #dbdbdb;
$extended-markdown-admonition-title-bg: #fbf9f9;
$extended-markdown-admonition-title-color: #fbf9f9;
$extended-markdown-admonition-important-bg: #c0f2e8;
$extended-markdown-admonition-important-title-bg: #7de8d2;
$extended-markdown-admonition-info-bg: #c0dcf2;
$extended-markdown-admonition-info-title-bg: #7dbae8;
$extended-markdown-admonition-warning-bg: #f2d9c0;
$extended-markdown-admonition-warning-title-bg: #e8b37d;

$extended-markdown-spoiler-bg: rgba(1, 1, 1, 0.13);
