.text-header {
    background-color: #01243c;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,.4) inset;
    padding: 7px;
    font-weight: bold;
}

.extended-markdown-tooltip {
    color: #337ab7;
    cursor: pointer;
}

.extended-markdown-tooltip:hover {
    color: #23527c;
    cursor: pointer;
}

// add an offset to compensate the fixed navbar
a.anchor-offset {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.admonition {
    border-radius:3px;
    box-shadow:0 1px 2px #dbdbdb;
    margin-bottom:.625rem;
    background:#c8e7fa
}
.admonition p { padding:0 1rem }
.admonition pre { margin-left:1rem; margin-right:1rem }
.admonition .admonition-title {
    font-weight:700;
    padding:.2rem 1rem;
    font-size:1.5rem;
    color:#fbf9f9;
    margin:0;
    border-radius:3px 3px 0 0;
    border-bottom:1px solid rgba(0,0,0,0.1)
}
.admonition .admonition-title i.fa { margin-right: 5px; }

.admonition>:nth-child(2) { margin-top:0.5rem }
.admonition>:not(pre):last-child { padding-bottom:.5rem }

.admonition.important { background: #c0f2e8; }
.admonition.important .admonition-title { background: #7de8d2; }

.admonition.note { background: #c0dcf2; }
.admonition.note .admonition-title { background: #7dbae8; }

.admonition.attention, .admonition.warning { background:#f2d9c0 }
.admonition.attention .admonition-title, .admonition.warning .admonition-title { background:#e8b37d }