.text-header {
    background-color: #01243c;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,.4) inset;
    padding: 7px;
    font-weight: bold;
}

.mff-tooltip {
    color: #337ab7;
    cursor: pointer;
}

.mff-tooltip:hover {
    color: #23527c;
    cursor: pointer;
}